/* Homepage.css */

.homepage {
  /* border: 2px solid rgb(0, 0, 0); */
  margin-top: 100px;
  display: flex;
  /* flex-direction: column; */
  position: sticky;
  top: 100px; /* This will fix the filters section at the top of the viewport */
  background-color: #f0f0f0;
  justify-content: space-between;
  padding: 5px 0px;
}

.filters {
  /* border: 2px solid blue; */
  padding: 10px;
  position: sticky;
  top: 100px; /* This will fix the filters section at the top of the viewport */
  background-color: #f0f0f0;
  display: flex;
  gap: 40px;
  padding: 0px 20px;
}
.charts{
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  padding: 0px 20px;
  
}
.datasave{
  padding: 8px 15px;

  /* background: rgb(109, 248, 134); */
  color: #080808;
  border-radius: 10px;
  cursor: pointer;
}
.datasave:hover{
  background: rgb(33, 76, 217);
  color: #ffff;


}

.userData{

  margin-top: 15px;
  /* border: 2px solid rgb(0, 0, 0); */
  position: fixed;
  top: 150px;
  bottom: 10px;
  width: 100%;
  height: 400px;
  /* background-color: #a9a0a0; */
  /* border: 2px solid rgb(8, 8, 8); */
  display: flex;
  justify-content: flex-start;
  align-items: self-start;
  
 

  
}

.filters .frequency,
.filters .charts,
.filters .addbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.frequency {
  gap: 20px;
}

.charts {
  gap: 20px;
  
}

.addbtn {
  background: rgb(54, 124, 216);
  color: #ffff;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addbtn:hover {
  background: rgb(102, 158, 233);
}



.content-wrapper {
  /* Set the desired height for the table body wrapper */
  max-height: 400px;
  width: 100%;
  padding: 0px 10px;
  /* border: 2px solid rgb(14, 13, 13); */
  border-radius: 10px;
  overflow: auto;
}



@media screen and (max-width:450px) {
 .homepage{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 0px;
 
 }
 .filters{
  flex-direction: column;
  gap: 3px;
  padding: 0px;
 }
 .charts{
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  padding: 5px;
 }
 .addbtn{
  padding: 6px 8px;
 }
 .userData{
  top: 220px;
  height: 400px;
 }

}

@media screen and (min-width: 688px) and (max-width: 1031px){
    .userData{
      height: 700px;
    }
    .content-wrapper{
      max-height: 500px;
      /* border: 2px solid red; */
    }
}

@media screen and (max-width: 350px) {
  .userData{
    padding: 10px;
    /* overflow-x: none; */
  }
}